/* Font Choices */
h1, h2, nav a   { font-family: sans-serif }
body            { font-family: serif; }
code, pre       { font-family: monospace; }

/* Font/line size, weight, and style */
body {
    line-height: 1.5;
}
code, pre {
    font-size: small;
}
blockquote p {
    font-style: italic;
    line-height: 1.5;
}
strong {
    font-weight: bold;
}
h1 {
    text-align: center;
}
.tldr {
    font-style: italic;
    text-align: center;
}
h2.tldr {
    font-size: small;
}
footer {
    text-align: center;
}

/* All other styling */
body {
    margin: 0 auto;
    max-width: 42em;
    padding: 4em 1em 0 1em;
    color: #566b78;
}

img.music {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 18px #ccc;
    margin: 40px auto;
}

audio {
    margin: 0 auto;
    display: table;
}

h1, h2 {
    color: #333;
}

strong {
    color: #333;
}

a {
    color: #566b78;
}

code, pre {
    background: #f9f9f9;
}

code {
    border-radius: 5px;
    padding: 3px;
}

blockquote, pre {
    padding: 1em;
    background: #f9f9f9;
}

blockquote {
    border-left: 10px solid #ccc;
    margin: 0.5em 0;
    padding: 1px 20px;
}

blockquote:before {
    color: #ccc;
    margin-right: 0.25em;
}

div.clear {
    clear: both;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}

nav ul {
    padding-inline-start: 0;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav a {
    text-decoration: none;
    border-radius: 5px;
    padding: 5px;
    background-color: #c4d3f5;
}

td {
    padding: 0 10px 0 10px;
}
