Name:      {{ .Name }}

{{ range .Pages }}
	Slug:  {{ .Slug }}
	Title: {{ .Title }}
	Date:  {{ .Date.Format "2006-01-02" }}
	------------------------------------------------------------------
{{ end }}