:root {
    color-scheme: light dark;
}

a:link { color: blue; }
a:visited { color: blue; }
a:active { color: red; }

@media (prefers-color-scheme: dark) {
    a:link { color: skyblue; }
    a:visited { color: skyblue; }
    a:active { color: red; }
}

html {
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -moz-text-size-adjust: none;
}

body {
    margin-left: 3em;
    margin-right: 3em;
    max-width: 900px;
}

header {
    font-size: 1.2em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

pre {
    overflow-x: auto;
    margin: 0.5em;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
}

blockquote {
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 5px;
    box-shadow: 0 0 5px grey;
}

img {
    max-width: 100%;
    box-shadow: 0 0 18px #000;
    margin: 40px auto;
}