@import url('https://fonts.googleapis.com/css2?family=Bitter:ital@0;1&family=DM+Mono:ital@0;1&family=Nunito:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Patua+One&display=swap');

body       { font-family: 'Nunito', sans-serif; }
h1, h2     { font-family: 'Patua One', serif; }
blockquote { font-family: 'Bitter', serif; }
code       { font-family: 'DM Mono', monospace; }

.tldr        { font-weight: normal; }
body         { font-size: larger; }
blockquote   { font-size: smaller; }
.tldr        { font-size: 1em; }

.tldr        { font-style: italic; }
blockquote p { font-style: italic; }

nav, h1, footer, .tldr { text-align: center; }

nav a, .article a { text-decoration: none; }

body         { line-height: 1.5; }
blockquote p { line-height: 1.8; }
nav          { line-height: 2.5; }

code                  { tab-size: 4 }
code.language-clojure { tab-size: 2 }

/**********************************************/

@media print {
    nav          { display: none; }
    body         { line-height: 1.0; }
    blockquote p { line-height: 1.0; }
    body         { font-size: smaller; }
    blockquote   { font-size: small; }
}

@media print, screen and (prefers-color-scheme: light) {
    body            { background-color: #fff; }
    table code      { background-color: #fff; }
    blockquote      { background-color: #ddd; }
    code            { background-color: #ddd; }
    pre             { background-color: #ddd; }
    .article:hover  { background-color: #ddd; }
    blockquote code { background-color: #ccc; }
    nav a, .topic   { background-color: #bbb; }
    nav a:hover     { background-color: #aaa; }
    .topic:hover    { background-color: #aaa; }

    blockquote { border-left: 10px solid #ccc; }

    .date             { color: #aaa; }
    nav a, .topic     { color: #666; }
    body              { color: #666; }
    strong            { color: #444; }
    h2                { color: #444; }
    h1                { color: #444; }
    a, a:visited      { color: #333; }

    img { box-shadow: 0 0 18px #ccc; }
}

@media screen and (prefers-color-scheme: dark) {
    body            { background-color: #333; }
    table code      { background-color: #333; }
    blockquote      { background-color: #444; }
    code            { background-color: #444; }
    pre             { background-color: #444; }
    .article:hover  { background-color: #444; }
    blockquote code { background-color: #666; }
    nav a, .topic   { background-color: #555; }
    nav a:hover     { background-color: #777; }
    .topic:hover    { background-color: #777; }

    blockquote { border-left: 10px solid #666; }

    .date             { color: #777; }
    nav a, .topic     { color: #ccc; }
    body              { color: #ccc; }
    strong            { color: #ddd; }
    h2                { color: #ddd; }
    h1                { color: #ddd; }
    a, a:visited      { color: #eee; }

   img { box-shadow: 0 0 18px #000; }
}

/**********************************************/

nav ul { list-style: none; }

img           { border-radius: 5px; }
pre           { border-radius: 5px; }
code          { border-radius: 3px; }
nav a, .topic { border-radius: 5px; }
.article      { border-radius: 5px; }

pre { overflow-x: auto }

/**********************************************/

body              { margin: 0 auto; }
img.music         { margin: 40px auto; }
audio             { margin: 0 auto; }
blockquote        { margin: 0 auto; }
blockquote:before { margin-right: 0.25em; }
nav               { margin-bottom: 20px; }

body          { padding: 1em; }
blockquote    { padding: .1em 1em; }
code          { padding: .05em .1em .2em .1em }
pre           { padding: .5em; }
td            { padding: 0 10px; }
nav a, .topic { padding: 5px; }
nav ul        { padding-inline-start: 0; }
.article      { padding: 10px; }

/**********************************************/

body { max-width: 50em; }
img  { max-width: 100%; }

audio     { display: table; }
nav ul li { display: inline; }

div.clear { clear: both; }

.article { cursor: pointer; }