        <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/atom-one-light.min.css"
            media="screen" />
          <link
            rel="stylesheet"
            href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/styles/atom-one-dark.min.css"
            media="screen and (prefers-color-scheme: dark)" />
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/highlight.min.js"></script>
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/languages/clojure.min.js"></script>
        <script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.2.0/build/languages/clojure-repl.min.js"></script>
        <script>hljs.highlightAll();</script>