<!doctype html>
<html lang="en">
    <head>
        <title>Your Name Here</title>
{{ template "header.tmpl" . }}
        <meta name="description" content="...a nice tag line here...">
        <link rel="canonical" href="https://your-domain-her.com">
        <style>
{{ template "css.tmpl" }}
        </style>
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/about/">About</a></li>
                <li><a href="/topics/#topic1">Topic 1</a></li>
                <li><a href="/topics/">Index</a></li>
            </ul>
        </nav>

        <h1>Your Name Here</h1>

        <blockquote class="tldr">
            <p>
                ...something inspiring here...
            </p>
        </blockquote>

        <br>

        {{ range .Pages }}{{ if ne (.Date.Format "2006-01-02") "2000-01-01" }}
            <div class="article" onClick="location.href='{{ .Slug }}'">
                <h2>
                    {{ if .Draft }}[DRAFT]{{ end }}
                    <a href="{{ .Slug }}">{{ .Title }}</a>
                </h2>
                <p>
                    {{ range .Topics }}
                        <a class="topic" href="/topics/#{{ . }}">{{ . }}</a>
                    {{ end }}
                </p>
                <p>{{ .Date.Format "Jan 2, 2006" }}</p>
                <p>
                    &gt; {{ if (ne .Intro "") }}<i>{{ .Intro }}</i>{{ end }}
                    <a href="{{ .Slug }}">Read more...</a>
                </p>
            </div>
        {{ end }}{{ end }}

        <br>
        <br>

        <footer>
{{ template "footer.tmpl" . }}
        </footer>
    </body>
</html>
