<!doctype html>
<html lang="en">
    <head>
{{ template "header.html" . }}
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="/about/">About Me</a></li>
                <li><a href="/jesus-christ/reference/">Jesus Christ</a></li>
                <li><a href="/music/church/">Music</a></li>
                <li><a href="/tags/software/">Software</a></li>
                <li><a href="/tags/">All Topics</a></li>
            </ul>
        </nav>

        <hr>

        <h1>Michael Whatcott</h1>

        <blockquote class="tldr">
            ...upon these I write the things of my soul,
            and many of the scriptures...For my soul
            delighteth in the scriptures, and my heart
            pondereth them, and writeth them for the
            learning and the profit of my children.
            <a href="https://ChurchofJesusChrist.org/scriptures/bofm/2-ne/4.15?lang=eng#p14">(2 Nephi 4:15)</a>
        </blockquote>

        <br>

        {{ range .Pages }}{{ if ne (.Date.Format "2006-01-02") "2000-01-01" }}
        <h4>
            <a href="{{ .Path }}">{{ .Title }}</a>
            <small>{{ .Date.Format "2006-01-02" }}</small>
            <br>
            <small>{{ .Description }}</small>
        </h4>
        <br>{{ end }}{{ end }}

        <br>
        <br>

        <footer>
{{ template "footer.html" . }}
        </footer>
    </body>
</html>
