<!doctype html>
<html lang="en">
    <head>
{{ template "header.html" . }}
    </head>

<body>
    <nav><a href="/">Home</a></nav>

    <hr>

    <main>
        <article>
            <header><h1>{{.Name}}</h1></header>
        </article>
        <ul>{{ range .Pages }}
            <li>
                <a href="{{.Path}}">{{.Title}}</a> {{.Date.Format "2006-01-02"}}
            </li>{{ end }}
        </ul>
    </main>

    <br>
    <br>

    <footer>
{{ template "footer.html" . }}
    </footer>
</body>
</html>
